#cubes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rubiks-cover {
    width: 200px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.rubiks-card {
    background-color: rgb(233, 148, 21);
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.rubiks-title {
    font-size: 18px;
    margin: 5px 0;
}

.rubiks-rating {
    font-size: 15px;
    margin: 5px 0;
}

.btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container > button {
    width: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(99, 99, 99);
    box-shadow: 5px 5px 5px purple;
}